// Banner at the top of the home page
//
// Styleguide Home Top

.home-top {
  // padding-bottom: 50%;
  position: relative;
  overflow: hidden;

  @include respond-to($mq-m) {
    padding-bottom: 0;
  }

  @include respond-to($mq-xl) {
    .theme-cy & {
      background: none;
    }
  }
}

.home-top .l-constrained {
  @include respond-to($mq-l) {
    display: flex;
  }
}

.home-top-left,
.home-top-right {
  align-items: stretch;
  // This was giving an unwanted margin to the image column on mobile
  @include column(12);
}

.home-top-left {
  @include column(12);

  @include respond-to($mq-m) {
    @include column(8);
  }
  @include respond-to($mq-l) {
    @include column(6);
  }
}

.home-top-right {
  @include column(12);
  position: relative;
  margin-top: $baseline-unit*3;
  margin-bottom: $baseline-unit*3;

  background-color:$color-black;
  background: rgba(0,0,0,0.8);

  @include respond-to($mq-s) {
    display: flex;
  }

  @include respond-to($mq-m) {
    @include column(4);
    background: none;
  }

  @include respond-to($mq-l) {
    margin-top: 0;
    margin-bottom: 0;
    @include column(6);
    display: flex;
  }
}

.home-top-trust {
  position: relative;
  margin-top: $baseline-unit*7;
  margin-bottom: $baseline-unit*3;
  @include respond-to($mq-l) {
    margin-bottom: $baseline-unit*7;
  }
}

.home-top-promo, .home-top__image {
  @include respond-to($mq-s) {
    width: 50%;
    float: left;
  }
  @include respond-to($mq-m) {
    width: 100%;
    float: none;
  }
}

.home-top__image {

  // Temporary for testing
  background-color: #ccc;
  background-image: none !important;
  background-repeat: no-repeat;
  background-size: cover;
  
  align-items: stretch;

  // padding-top: 55.64/2%;
  padding-top: 55.64%;

  @include respond-to($mq-s) {
    padding-top: 27.82%;
  }

  @include respond-to($mq-m) {
    padding-top: 55.64%;
  }

  @if $responsive == false {
    display: none;
  }
}

.home-top-trust__heading {
  @extend %font-heading-heavy;
  @include body(32, 36);

  @include respond-to($mq-m) {
    @include body(40, 46);
  }

  color: $color-heading-extra-small;
  margin: 0;
  padding-bottom: $baseline-unit*7;
  padding-top: 0;

  @if $responsive == false {
    max-width: 700px;
  }
}

.home-top-trust-content {
  @extend .unstyled-list;
  @extend .list-benefits;
  margin-bottom: $baseline-unit*2;
}

.home-top-trust-content__item {
  @extend %font-heading-medium;
  @include body(16, 24);
  margin-bottom: $baseline-unit;

  @include respond-to($mq-l) {
    max-width: none;
  }
}

.home-top-promo {
  clear: none;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  @include respond-to($mq-l) {
    position: absolute;
    bottom: 0;
    left: 0;
  }
}

.home-top-promo__text {
  @extend %font-heading-heavy;

  @include body(22, 30);

  padding: $baseline-unit $baseline-unit*7 $baseline-unit $baseline-unit*4;
  position: relative;
  margin: 0;

  @include respond-to($mq-m) {
    width: 100%;
    padding: $baseline-unit*2 $baseline-unit*8 $baseline-unit*2 $baseline-unit*4;
    background-color:$color-black;
    background: rgba(0,0,0,0.8);
  }

  @include respond-to($mq-l) {
    margin: 0 $baseline-unit*3;
    max-width: 400px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
  }
}

.home-top-promo-link {
  display: block;

  &:link,
  &:visited,
  &:hover {
    color: $color-white;
  }

  &:focus {
    color: $color-black;
  }
}

.home-top-promo-link__arrow {
  fill: $color-white;
  height: 34px;
  position: absolute;
  right: 5%;
  top: 30%;
  width: 21px;
}
